@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamMedium.woff2') format('woff2'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/Gothamlight/GothamLight.eot');
    src: url('../fonts/Gothamlight/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Gothamlight/GothamLight.woff2') format('woff2'), url('../fonts/Gothamlight/Gotham-Light.svg#Gotham-Light') format('svg'), url('../fonts/Gothamlight/Gotham-Light.ttf') format('truetype'), url('../fonts/Gothamlight/Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/Gothambook/GothamBook.eot');
    src: url('../fonts/Gothambook/GothamBook.eot?#iefix') format('embedded-opentype'), url('../fonts/Gothambook/GothamBook.woff2') format('woff2'), url('../fonts/Gothambook/Gotham-Book.svg#Gotham-Book') format('svg'), url('../fonts/Gothambook/Gotham-Book.ttf') format('truetype'), url('../fonts/Gothambook/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'GothamBook', 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

figure {
    margin: 0;
    padding: 0;
}

.background-position-relative {
    position: relative;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

#wrapper {
    overflow: hidden;
}

img {
    width: 100%;
    border: none;
}

.text-uppercase {
    text-transform: uppercase;
}

b {
    font-family: "GothamMedium";
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 10px;
}

#header {
    background: #fff;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "GothamMedium";
    z-index: 9999;
    right: 0;
    align-items: center;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, .15);
}

#header .header-logo {
    width: 15%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    padding: 20px;
    align-items: center;
}

#header .header-logo img {
    width: 120px;
    height: 25px;
}

#header nav#header-navigation {
    width: 64%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

#header nav#header-navigation ul li {
    display: inline-block;
    position: relative;
}

#header nav#header-navigation ul li a {
    padding: 21px;
    font-size: 14px;
    color: #54595f;
    font-weight: 600;
}

#header nav#header-navigation ul li i {
    font-size: 16px;
    padding-left: 8px;
}

#header nav#header-navigation ul li ul li {
    display: block;
    padding: 20px;
    cursor: pointer;
}

#header nav#header-navigation ul li ul li a {
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}

#header nav#header-navigation ul li ul li.active,
#header nav#header-navigation ul li ul li:hover {
    background: #ededed;
}

#header nav#header-navigation ul li ul li a.active,
#header nav#header-navigation ul li ul li:hover a {
    color: #ff6f61;
    border: none;
}

#header .header-btn__treatable {
    display: flex;
    width: 20%;
    padding: 12px;
    transition: all ease 0.1s;
    justify-content: center;
}

#header .header-btn__treatable a {
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    background: #ff6f61;
    padding: 12px 30px;
    border-radius: 30px;
    border: 3px solid #ff6f61;
    margin: 5px 0;
    transition: all ease 0.2s;
}

#header .header-btn__treatable a:hover {
    background: #ffffff;
    color: #ff6f61;
    margin-top: 0;
    margin-bottom: 10px;
}

ul.nav-lever-2 {
    position: absolute;
    top: 42px;
    display: none;
    width: 225px;
    background: #f2f2f2;
}

#header nav#header-navigation a.active,
#header nav#header-navigation a:hover {
    border-bottom: 4px solid #ff6f61;
}

#header nav#header-navigation li:hover>ul.nav-lever-2 {
    display: block;
}

#footer {
    background: #fff;
    padding: 50px;
    flex-wrap: wrap;
    display: flex;
}

#footer .elementor-element-populated {
    width: 66%;
    padding: 0% 5% 0% 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .elementor-element-populated .element-populated--col36 {
    width: 36%;
    font-family: "GothamLight";
}

#footer .elementor-element-populated .element-populated--col28 {
    width: 273px;
}

#footer .elementor-element-populated .element-populated--col36 .element-populated-email {
    padding-left: 10px;
    font-family: "GothamMedium", sans-serif;
}

#footer .elementor-element-widget {
    width: 34%;
    display: flex;
    justify-content: center;
}

#footer .elementor-element-widget .element-widget-container .element-widget-title h5 {
    font-size: 18px;
    font-weight: 600;
}

#footer .elementor-element-widget .element-widget-container ul.element-inline-icons li.element-icon {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

#footer .elementor-element-widget .element-widget-container ul.element-inline-icons li.element-icon a {
    color: #000000;
    transition: all ease .4s;
}

#footer .elementor-element-widget .element-widget-container ul.element-inline-icons li.element-icon a:hover {
    color: #fa7268;
}

#footer .elementor-element-widget .element-widget-container .element-widget-global ul li {
    display: block;
    padding: 3px 0;
}

#footer .elementor-element-widget .element-widget-container .element-widget-global ul li a {
    color: #fa7268;
}


/* #banner {
    background-image: url("../images/Herobanner_Valentines_Promo_1-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

#banner img {
    position: relative;
}

#banner .banner-content {
    padding: 20% 0;
    max-width: 1140px;
    width: 50%;
    position: absolute;
    top: 0;
    margin: auto;
}

#banner .banner-title h3 {
    font-family: "GothamMedium";
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #212121;
}

#banner .banner-intro p {
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 25px;
    width: 50%;
    font-family: 'Gotham Book';
}

.btn-treatable-background-white {
    padding: 10px;
}

.btn-treatable-background-white a {
    font-family: "GothamMedium";
    font-weight: 800;
    padding: 15px 30px;
    background: #fff;
    color: #ff6f61;
    font-size: 20px;
    border-radius: 25px;
    border: 3px solid #fff;
    transition: all ease .2s;
    margin: 5px 0;
    display: inline-block;
}

.btn-treatable-background-white a:hover {
    background: #ff6f61;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.elementor-background-over {
    background: #fff;
    padding: 50px 0;
}

.elementor-background-over .container-video-content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.elementor-background-over .container-video-content .elementor-video-become {
    width: 62%;
    padding: 60px 0;
}

.elementor-background-over .elementor-become__title h3 {
    font-size: 37px;
    color: #212121;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

.elementor-background-over .elementor-become__title h3 span {
    color: #ff6f61;
}

.elementor-background-over .container-video-content .elementor-video-intro {
    width: 38%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10% 0% 2% 2%;
}

.elementor-background-over .container-video-content .elementor-video-intro p {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Gothamlight";
    font-weight: 600;
    line-height: 30px;
    color: #212121;
}

.container-become-difference {
    position: absolute;
    top: 0;
    max-width: 1140px;
    padding: 15% 0;
}

.elementor-become-col {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}

.col-25 {
    width: 24%;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    background: #fff;
    border-radius: 15px;
}

.col-33 {
    width: 31%;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #bfbfbf;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.elementor-become-col .elementor-widget-container {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}

.container-become-difference .elementor-become-col .elementor-widget-container .elementor-image-box-img {
    height: 170px;
    margin: auto;
}

.container-become-difference .elementor-become-col .elementor-widget-container .elementor-image-box-img img {
    width: 153px;
    transition: all ease 0.3s;
    margin: auto;
}

.container-become-difference .elementor-become-col .elementor-widget-container .elementor-image-box-img img:hover {
    margin-left: -10px;
    width: 170px;
}

.container-become-difference .elementor-become-col .elementor-image-box-content .elementor-image-box-title {
    margin: 30px 0 20px;
    font-size: 18px;
    color: #212121;
    font-family: "GothamMedium";
}

.container-become-difference .elementor-become-col .elementor-image-box-content .elementor-image-box-descrip {
    letter-spacing: -0.56px;
    line-height: 1.4em;
}

.container-become-work .elementor-become-col .elementor-image-box-content .elementor-image-box-descrip {
    color: #212121;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 1.4em;
}

.container-become-work .elementor-become-col .elementor-image-box-content .elementor-image-box-title {
    margin: 40px 0 20px;
    font-size: 30px;
    color: #ff6f61;
    font-family: "GothamMedium";
    line-height: 1.2em;
    letter-spacing: -0.5px;
}

.container-become-work .elementor-become-col {
    box-shadow: none;
}

.container-become-work .elementor-become-col .elementor-widget-container .elementor-image-box-img {
    height: 250px;
    margin: auto;
}

.container-become-work .elementor-become-col .elementor-widget-container .elementor-image-box-img img {
    width: 233px;
    transition: all ease 0.3s;
    margin: auto;
}

.container-become-work .elementor-become-col .elementor-widget-container .elementor-image-box-img img:hover {
    margin-left: -10px;
    width: 250px;
}

.elementor-background-over.background-ff6f61 {
    background-color: #ff6f61;
    padding: 4%;
}

.elementor-background-over.background-ff6f61.background-ff6f61-image {
    text-align: center;
    background-image: url(../images/MY_Are_Become_Braces_For_Me_banner_1-1-1.png);
    background-repeat: no-repeat;
}

.elementor-background-over.background-ff6f61 .elementor-become__title h3 {
    color: #fff
}

.elementor-background-over.background-ff6f61 .elementor-become__title span {
    color: #212121;
}

.elementor-background-over.background-ff6f61 .invisible-braces-descrip {
    color: #fff;
    font-size: 18px;
    font-family: "GothamLight";
}

.elementor-background-over .container-become-payment-option .elementor-become-text-editor p {
    text-align: center;
    font-size: 18px;
    color: #212121;
}

.elementor-background-over .container-become-payment-option .elementor-price-table__header {
    font-size: 22px;
    background-color: #FFFFFF;
    padding: 40px 0px 30px 0px;
}

.elementor-background-over .container-become-payment-option .elementor-price-table__price {
    font-size: 48px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    font-weight: 700;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 0px 20px 0px;
    line-height: 2em;
}

.elementor-background-over .container-become-payment-option .elementor-price-table__price span.prev-price {
    font-size: calc(45em/100);
    margin-right: 5px;
}

.elementor-background-over .container-become-payment-option .elementor-price-table__price span.behind-price {
    font-size: calc(50em/100);
    margin-left: 5px;
}

.elementor-background-over .container-become-payment-option .elementor-price-table__feature span {
    color: #ff6f61;
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    line-height: 2em;
}

.elementor-background-over .container-become-payment-option .elementor-become-col.col-33.col-position-relative {
    position: relative;
}

.elementor-background-over .container-become-payment-option .elementor-price-table___ribbon {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 200px;
    overflow: hidden;
    height: 200px;
}

.elementor-background-over .container-become-payment-option .elementor-price-table___ribbon .elementor-price-table___ribbon-inner {
    color: #fff;
    background: #ff6f61;
    text-transform: uppercase;
    font-size: 11px;
    padding: 6px;
}

.elementor-background-over.background-eeeeee,
.elementor-background-over.background-eeeeee .container .container-become-smiling-about .slider .flexslider,
.container-become-story-behind-smile .slider2 .flexslider {
    background: #eeeeee;
    border: 4px solid #eeeeee;
}

.elementor-background-over.background-eeeeee .container .container-become-smiling-about .slider .flexslider .flex-control-paging li a {
    background: #ff6f61;
    opacity: 0.2;
}

.elementor-background-over.background-eeeeee .container .container-become-smiling-about .slider .flexslider .flex-control-paging li a.flex-active {
    opacity: 1;
}

.elementor-background-over.background-eeeeee .container .container-become-smiling-about .slider .flexslider .flex-direction-nav a::before,
.container-become-story-behind-smile .slider2 .flexslider .flex-direction-nav a::before {
    font-size: 33px;
    color: #ff6f61;
    text-shadow: none;
}

.elementor-background-over.background-eeeeee .container .container-become-smiling-about .slider .flexslider .flex-caption {
    width: 100%;
    margin-top: 18px;
    font-size: 15px;
    line-height: 18px;
    font-style: italic;
}

.elementor-background-over.background-eeeeee .container .container-become-smiling-about .slider .flexslider li.css a {
    border-radius: 0;
}

.elementor-tongle {
    max-width: 980px;
    margin: auto;
}

.elementor-background-over.background-ff6f61 .elementor-tongle .elementor-tongle-item {
    margin: 35px 0;
}

.elementor-background-over.background-ff6f61 .elementor-tongle .element-tap-title {
    padding: 30px;
    cursor: pointer;
    background: #fff;
}

.elementor-background-over.background-ff6f61 .elementor-tongle .element-tap-title a.title-question {
    color: #ff6f61;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "GothamMedium";
}

.elementor-background-over.background-ff6f61 .elementor-tongle .element-tap-title span.element-icon-tongle-right {
    float: right;
}

.elementor-background-over.background-ff6f61 .elementor-tongle .element-tap-title span.element-icon-tongle-right .element-icon-opened {
    display: none;
}

.elementor-background-over.background-ff6f61 .elementor-tongle .element-tap-content {
    padding: 15px 30px;
    background: #fff;
    display: none;
}

.elementor-background-over.background-ff6f61 .elementor-tongle .element-tap-content p {
    color: #212121;
    font-family: "GothamLight";
}

.elementor-background-over .elementor-become-items-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item {
    width: 47%;
    margin: 15px;
    padding: 55px 40px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item:hover {
    box-shadow: 0px 0px 10px 2px #bfbfbf;
    border-radius: 25px;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-image-box-wrapper {
    text-align: center;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-image-box-wrapper figure.elementor-image-box__img {
    width: 40%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-image-box_content .elementor-image-box_title {
    font-size: 22px;
    margin: 45px 0 25px;
    color: #212121;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-image-box_content p.elementor-image-box_description {
    color: #212121;
    font-size: 18px;
    line-height: 1.7em;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-btn-text {
    font-size: 20px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff6f61;
    border-style: solid;
    border-color: #ff6f61;
    border-radius: 30px;
    padding: 16px 25px;
    margin: 10px 0 0;
    transition: all ease .3s;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-btn-text:hover {
    margin: 0 0 10px;
    background: #fff;
    color: #ff6f61;
}

.elementor-background-over .elementor-become-items-wrapper .elementor-become-item .elementor-button-wrapper {
    display: flex;
    justify-content: center;
}

.container-become-story-behind-smile .slider2 .slides {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.container-become-story-behind-smile .slider2 .slides li.swiper-slide {
    background-color: #FFFFFF;
    border-width: 11px 11px 11px 11px;
    border-radius: 0px;
    border-color: #FFFFFF;
    padding: 11px;
    /* width: 419.5px !important;
    height: 633px; */
}

.container-become-story-behind-smile .slider2 .slides .flex-caption2 img.emoji {
    width: 15px;
    display: inline-block;
}

.container-become-story-behind-smile .slider2 .slides .flex-caption2 {
    color: #212121;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    padding: 30px;
}

.container-become-story-behind-smile .elementor-swipper {
    max-width: 894px;
    margin: auto;
}

.container-become-story-behind-smile .elementor-swipper .elementor-main-swipper {
    width: calc(894px - 30px);
}

.container-become-story-behind-smile .slider2 .slides .flex-caption2 cite {
    line-height: 1.25;
    font-weight: 600;
    font-style: initial;
    display: block;
    margin: 30px 0 0;
}

.container-become-story-behind-smile .slider2 .flex-control-nav.flex-control-paging {
    display: none;
}

.container-become-story-behind-smile .slider2 .flex-direction-nav a {
    opacity: 1;
}

.container-become-story-behind-smile .slider2 .flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: -50px;
}

.container-become-story-behind-smile .slider2 .flexslider:hover .flex-direction-nav .flex-next {
    right: -50px;
    opacity: 1;
}