@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamMedium.woff2') format('woff2'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/Gothamlight/GothamLight.eot');
    src: url('../fonts/Gothamlight/GothamLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Gothamlight/GothamLight.woff2') format('woff2'), url('../fonts/Gothamlight/Gotham-Light.svg#Gotham-Light') format('svg'), url('../fonts/Gothamlight/Gotham-Light.ttf') format('truetype'), url('../fonts/Gothamlight/Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/Gothambook/GothamBook.eot');
    src: url('../fonts/Gothambook/GothamBook.eot?#iefix') format('embedded-opentype'), url('../fonts/Gothambook/GothamBook.woff2') format('woff2'), url('../fonts/Gothambook/Gotham-Book.svg#Gotham-Book') format('svg'), url('../fonts/Gothambook/Gotham-Book.ttf') format('truetype'), url('../fonts/Gothambook/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'GothamBook', 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

figure {
    margin: 0;
    padding: 0;
}

.background-position-relative {
    position: relative;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

#wrapper {
    overflow: hidden;
}

img {
    width: 100%;
    border: none;
}

.text-uppercase {
    text-transform: uppercase;
}

b {
    font-family: "GothamMedium";
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 10px;
}

#header {
    background: #fff;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "GothamMedium";
    z-index: 9999;
    right: 0;
    align-items: center;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, .15);
}

#header .header-logo {
    width: 15%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    padding: 20px;
    align-items: center;
}

#header .header-logo img {
    width: 120px;
    height: 25px;
}

#header nav#header-navigation {
    width: 64%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

#header nav#header-navigation ul li {
    display: inline-block;
    position: relative;
}

#header nav#header-navigation ul li a {
    padding: 21px;
    font-size: 14px;
    color: #54595f;
    font-weight: 600;
}

#header nav#header-navigation ul li i {
    font-size: 16px;
    padding-left: 8px;
}

#header nav#header-navigation ul li ul li {
    display: block;
    padding: 20px;
    cursor: pointer;
}

#header nav#header-navigation ul li ul li a {
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}

#header nav#header-navigation ul li ul li:hover {
    background: #ededed;
}

#header nav#header-navigation ul li ul li:hover a {
    color: #ff6f61;
    border: none;
}

#header .header-btn__treatable {
    display: flex;
    width: 20%;
    padding: 12px;
    transition: all ease 0.1s;
    justify-content: center;
}

#header .header-btn__treatable a {
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    background: #ff6f61;
    padding: 12px 30px;
    border-radius: 30px;
    border: 3px solid #ff6f61;
    margin: 5px 0;
    transition: all ease 0.2s;
}

#header .header-btn__treatable a:hover {
    background: #ffffff;
    color: #ff6f61;
    margin-top: 0;
    margin-bottom: 10px;
}

ul.nav-lever-2 {
    position: absolute;
    top: 41px;
    display: none;
    width: 225px;
    background: #f2f2f2;
}

#header nav#header-navigation a:hover {
    border-bottom: 3px solid #ff6f61;
}

#header nav#header-navigation li:hover>ul.nav-lever-2 {
    display: block;
}

#footer {
    background: #fff;
    padding: 50px;
    flex-wrap: wrap;
    display: flex;
}

#footer .elementor-element-populated {
    width: 66%;
    padding: 0% 5% 0% 11%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .elementor-element-populated .element-populated--col36 {
    width: 36%;
    font-family: "GothamLight";
}

#footer .elementor-element-populated .element-populated--col28 {
    width: 273px;
}

#footer .elementor-element-populated .element-populated--col36 .element-populated-email {
    padding-left: 10px;
    font-family: "GothamMedium", sans-serif;
}

#footer .elementor-element-widget {
    width: 34%;
    display: flex;
    justify-content: center;
}

#footer .elementor-element-widget .element-widget-container .element-widget-title h5 {
    font-size: 18px;
    font-weight: 600;
}

#footer .elementor-element-widget .element-widget-container ul.element-inline-icons li.element-icon {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

#footer .elementor-element-widget .element-widget-container ul.element-inline-icons li.element-icon a {
    color: #000000;
    transition: all ease .4s;
}

#footer .elementor-element-widget .element-widget-container ul.element-inline-icons li.element-icon a:hover {
    color: #fa7268;
}

#footer .elementor-element-widget .element-widget-container .element-widget-global ul li {
    display: block;
    padding: 3px 0;
}

#footer .elementor-element-widget .element-widget-container .element-widget-global ul li a {
    color: #fa7268;
}


/* #banner {
    background-image: url("../images/Herobanner_Valentines_Promo_1-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

#banner img {
    position: relative;
}

#banner .banner-content {
    padding: 28% 0;
    max-width: 1140px;
    width: 50%;
    position: absolute;
    top: 0;
    margin: auto;
}

#banner .banner-title h3 {
    font-family: "GothamMedium";
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 40px;
    color: #212121;
}

#banner .banner-intro p {
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 25px;
    width: 50%;
    font-family: 'GothamBook';
}

.btn-treatable-background-white {
    padding: 10px;
}

.btn-treatable-background-white a {
    font-family: "GothamMedium";
    font-weight: 800;
    padding: 15px 30px;
    background: #fff;
    color: #ff6f61;
    font-size: 20px;
    border-radius: 25px;
    border: 3px solid #fff;
    transition: all ease .2s;
    margin: 5px 0;
    display: inline-block;
}

.btn-treatable-background-white a:hover {
    background: #ff6f61;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.elementor-background-over {
    background: #fff;
    padding: 30px 0;
}

.elementor-background-over .container-video-content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.elementor-background-over .container-video-content .elementor-video-become {
    width: 62%;
    padding: 60px 0;
}

.elementor-background-over .elementor-become__title h3 {
    font-size: 37px;
    color: #212121;
    line-height: 1rem;
    text-align: center;
    margin-bottom: 40px;
}

.elementor-background-over .elementor-become__title h3 span {
    color: #ff6f61;
}

.elementor-background-over .container-video-content .elementor-video-intro {
    width: 38%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10% 0% 2% 2%;
}

.elementor-background-over .container-video-content .elementor-video-intro p {
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Gothamlight";
    font-weight: 600;
    line-height: 30px;
    color: #212121;
}

.container-become-difference {
    position: absolute;
    top: 0;
    max-width: 1140px;
    padding: 10% 0;
}

.elementor-become-col {
    display: flex;
    display: -webkit-flex;
}

.col-25 {
    width: 25%;
    padding: 10px;
}

.col-33 {
    width: 33%;
    padding: 10px;
}

.elementor-become-col .elementor-widget-container {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 15px #e4e4e4;
    border-radius: 15px;
    text-align: center;
}

.container-become-difference .elementor-become-col .elementor-widget-container .elementor-image-box-img {
    height: 170px;
    margin: auto;
}

.container-become-difference .elementor-become-col .elementor-widget-container .elementor-image-box-img img {
    width: 153px;
    transition: all ease 0.3s;
    margin: auto;
}

.container-become-difference .elementor-become-col .elementor-widget-container .elementor-image-box-img img:hover {
    margin-left: -10px;
    width: 170px;
}

.container-become-difference .elementor-become-col .elementor-image-box-content .elementor-image-box-title {
    margin: 30px 0 20px;
    font-size: 18px;
    color: #212121;
    font-family: "GothamMedium";
}

.container-become-difference .elementor-become-col .elementor-image-box-content .elementor-image-box-descrip {
    letter-spacing: -0.56px;
    line-height: 1.4em;
}

.container-become-work .elementor-become-col .elementor-image-box-content .elementor-image-box-descrip {
    color: #212121;
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 1.4em;
}

.container-become-work .elementor-become-col .elementor-image-box-content .elementor-image-box-title {
    margin: 40px 0 20px;
    font-size: 30px;
    color: #ff6f61;
    font-family: "GothamMedium";
    line-height: 1.2em;
    letter-spacing: -0.5px;
}

.container-become-work .elementor-become-col .elementor-widget-container {
    box-shadow: none;
}

.container-become-work .elementor-become-col .elementor-widget-container .elementor-image-box-img {
    height: 250px;
    margin: auto;
}

.container-become-work .elementor-become-col .elementor-widget-container .elementor-image-box-img img {
    width: 233px;
    transition: all ease 0.3s;
    margin: auto;
}

.container-become-work .elementor-become-col .elementor-widget-container .elementor-image-box-img img:hover {
    margin-left: -10px;
    width: 250px;
}

.elementor-background-over.background-ff6f61 {
    text-align: center;
    background-image: url(../images/MY_Are_Become_Braces_For_Me_banner_1-1-1.png);
    background-repeat: no-repeat;
    background-color: #ff6f61;
    padding: 4%;
    background-attachment: ;
}

.elementor-background-over.background-ff6f61 .elementor-become__title h3 {
    color: #fff
}

.elementor-background-over.background-ff6f61 .elementor-become__title span {
    color: #212121;
    font-weight: ;
}

.elementor-background-over.background-ff6f61 .invisible-braces-descrip {
    color: #fff;
    font-size: 18px;
    font-family: "GothamLight";
}